@use "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: #f5f5e9;
  color: #2c3531;
}
.font-lora {
  font-family: "Lora", serif;
}
