# Dependencies
node_modules

# System files
.DS_Store

# Build outputs
dist
.next
coverage
build
generated

# Environment variables - DO NOT COMMIT
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
server/**/.env
apps/**/.env
